@model IEnumerable<DataContextLayer.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.DesignationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.DesignationName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.EmployeeId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.EmployeeId  })
            </td>
        </tr>
}
    </tbody>
</table>
